.total {
  height: 80vh ;
  border-right: 1px solid ;
  margin-top: 30px;
  padding-bottom: 40px;
}
.img{
  margin: auto;
  margin-top: 5px ;
  margin-bottom: 5px ;
  width: 70% ;
}
.conatiner{
  height:80vh;
  width: 40vw ;
  align-content: center;
  align-items: center;
  text-align: center;
  padding-top: 50px ;
  display: flex;
  flex-direction: column;

}
@media only screen and (max-width:960px) {
  .total {
    border-right: 0px solid ;
    border-bottom : 1px solid ;
    padding: 0px
  }
  .conatiner{
    width: 80vw ;
    margin-bottom: 50px;
  }
}
